<section>
  <h2>Cross Field Validation</h2>
  <div class="card">
    <p class="demo-description">
      In this example we want to validate our form based on the values of
      different fields.<br /><br />
      For this, we created a custom validator that receives the parent
      <code>FormGroup</code> (root element), in order to be able to access all
      target <code>FormControls</code>.
    </p>
  </div>
  <div class="demo-content">
    <div class="form-container shadow">
      <form
        (ngSubmit)="shipOrder()"
        [formGroup]="orderForm"
        autocomplete="off"
      >
        <mat-form-field class="full-width">
          <mat-label>Coffee name</mat-label>
          <input
            matInput
            placeholder="Arabica, Robusta"
            formControlName="coffeeName"
          />
          <mat-error *ngIf="coffeeName?.hasError('required')">{{
            "Field required!"
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Qty (kg)</mat-label>
          <input matInput type="number" min="0" formControlName="qty" />
          <mat-error *ngIf="qty?.hasError('required')">{{
            "Field required!"
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confirm quantity (kg)</mat-label>
          <input matInput type="number" min="0" formControlName="qtyConfirm" />
          <mat-error *ngIf="qtyConfirm?.hasError('required')">{{
            "Field required!"
          }}</mat-error>
        </mat-form-field>
        <mat-error *ngIf="orderForm?.hasError('noMatch')">
          {{ "Quantity must match!" }}
        </mat-error>
        <div class="form-buttons">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!orderForm?.valid"
          >
            Order!
          </button>
        </div>
      </form>
    </div>
    <div class="submit-success" *ngIf="orderShipped">
      Order shipped correctly!
    </div>
  </div>
</section>
