<section>
  <h2>Dynamic Form Fields</h2>
  <div class="card">
    <p class="demo-description">
      In this example, we want start with a form with just two fields.<br /><br />
      However, we might need to dynamically add new controls at runtime and we
      do not know how many as this might depend on the user. Thanks to
      <code>FormArrays</code> we can manage dyanamic collections of
      <code>FormControls</code> with ease.
      <br><br>
      The demo also shows how to dynamically add and remove validators to other form fields with the
      <code>setValidators</code>
      method. Finally, we can exclude some controls from being sent to the server, by setting them to disabled.
      However, if we also need to extract disabled values from the form, we can use the <code>getRawValue</code> method.
    </p>
  </div>
  <div class="demo-content">
    <div class="form-value">
      <mat-checkbox [formControl]="showValueCtrl">Show form value</mat-checkbox>

      <pre *ngIf="showValueCtrl.value" class="card">
        {{ addressForm.value | json }}
        <span>
        💡 Nice for debugging!
        </span>
      </pre>

    </div>
    <div class="form-container shadow">
      <form (ngSubmit)="submitData(addressForm)" [formGroup]="addressForm" class="card" autocomplete="off">

        <mat-form-field class="full-width">
          <mat-label>FormId</mat-label>
          <input matInput formControlName="formId" />
        </mat-form-field>

        <mat-checkbox formControlName="registerForOther">
          I am registering for another user
        </mat-checkbox>

        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="firstname" />
          <mat-error *ngIf="abroadAddress?.hasError('required')">
            Field required!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="lastname" />
          <mat-error *ngIf="abroadAddress?.hasError('lastname')">
            Field required!
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="isAbroad">
          Is your main address abroad?
        </mat-checkbox>

        <mat-form-field class="full-width" *ngIf="isAbroad?.value">
          <mat-label>Address abroad</mat-label>
          <input matInput formControlName="abroadAddress" />
          <mat-error *ngIf="abroadAddress?.hasError('required')">
            Field required!
          </mat-error>
        </mat-form-field>

        <div class="add-button">
          <button type="button" mat-raised-button color="primary" (click)="addAddress()">
            Add address
          </button>
        </div>
        <div formArrayName="addresses">
          <p *ngIf="addresses.controls.length > 2">
            Seriously, how many addresses do you have??
          </p>
          <div *ngFor="let address of addresses.controls; let i = index">

            <div [formGroupName]="i" class="address-group">
              <div class="address-fields">
                <mat-form-field class="width-80">
                  <mat-label>Street</mat-label>
                  <input matInput formControlName="street" />
                </mat-form-field>
                <mat-form-field class="width-80">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" />
                </mat-form-field>
              </div>
              <div class="address-actions">
                <button mat-icon-button color="warn" title="Remove address" (click)="removeAddress(i)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!addressForm.valid">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>
  <p class="description card">
    <b>Below is another example of dynamic validation.</b>
    If the isAbroad field is true, this field becomes mandatory and must have a length of at least 5 characters.
    If isAbroad value changes to false, the address field becomes optional again, without any minimum length
    restriction.
  </p>
  <div class="demo-content">
    <div class="form-container form-centered shadow">
      <form (ngSubmit)="submitData(registrationForm)" [formGroup]="registrationForm" class="card" autocomplete="off">

        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="abroadAddress?.hasError('required')">
            Field required!
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="isAbroad">
          Address abroad
        </mat-checkbox>

        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="registrationAddress?.hasError('required')">
            Field required!
          </mat-error>
          <mat-error *ngIf="registrationAddress?.hasError('minlength')">
            The address must contain at least 5 characters!
          </mat-error>
          <mat-error *ngIf="registrationAddress?.hasError('maxlength')">
            The address cannot be longer than 30 characters!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>User Profile</mat-label>
          <mat-select formControlName="userProfile">
              <mat-option *ngFor="let profile of userProfiles" [value]="profile.value">
                {{ profile.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>