<section>
  <h2>Asynchronous Validation</h2>
  <div class="card">
    <p class="demo-description">
      Sometime we might need to validate our forms invoking a backend API. 
      A typical case, for instance, is checking if a username or email has been already 
      taken while registering a new account.<br /><br />
      For this, we need to implement an <code>Asynchronous Validator</code> that will receive the 
      server response and generate a <code>ValidationError</code> in case the validation is not succesful, <code>null</code>, otherwise.      
    </p>
  </div>
  <div class="demo-content">
    <div class="registration-container shadow">
      <form
        (ngSubmit)="register()"
        [formGroup]="registerForm"
        autocomplete="off">
        <div class="title">
          <h2>Register to coffee & co.</h2>
          <mat-icon>local_cafe</mat-icon>
        </div>

        <mat-form-field class="width-80">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Enter your name"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="width-80">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="username?.hasError('required')">
              Field required!
            </mat-error>
          <mat-error *ngIf="username?.hasError('minlength')">
              Username too short!
            </mat-error>
          <mat-error *ngIf="username?.hasError('usernameExists')">
            Unfortunately the username is already taken.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="width-80">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="pwd" />
          <mat-error *ngIf="pwd?.hasError('required')">Field required!</mat-error>
        </mat-form-field>
        <div class="terms-conditions">
          <mat-checkbox
            #tooltip="matTooltip"
            matTooltip="AH AH! NOBODY WILL EVER BELIEVE THAT..."
            matTooltipPosition="left"
            formControlName="terms"
            >I read the Terms and Conditions</mat-checkbox
          >
        </div>
        <div class="form-buttons">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!registerForm?.valid">
            Sign up
          </button>

          <div class="spinner">
            <mat-spinner diameter="30" *ngIf="username?.pending"></mat-spinner>
          </div>
        
        </div>
        <div class="submit-success" *ngIf="registerSuccess">
          Yey! Can you already feel the coffeine?
        </div>
      </form>
      <div class="registration-image">
        <img src="assets/images/coffee_opt.jpg" alt="coffee_cups" />
      </div>
    </div>
  </div>
</section>
